/*
	#232323 -> Preto
	#8b008b -> Roxo
	#efeff1 -> Branco
*/

html, body
{
	height: 100%;
}

body
{
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #232323;
}

.formEntrada
{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.formEntrada input[type="email"]
{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.formEntrada input[type="password"]
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#labelEnderecoEmail, #labelEnderecoSenha
{
	color: #efeff1;
}

.form-control, .form-control:focus
{
	color: #efeff1;
	background-color: #232323;
}

*
{
	font-family: "Open Sans";
}

.btn, .btn:hover
{
	background-color: #8b008b;
	color: #efeff1;
	border-color: #8b008b;
}

.btn:focus
{
	box-shadow: 0 0 7px rgba(139, 0, 139, 255) !important;
}
